body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background: #000 url(../img/background.jpg) top center no-repeat;
}
.visually-hidden {
	display: none;
}
a {
	text-decoration: none;
	color: #fff;
}
.button {
	font: inherit;
	background-color: #000;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}
.button:hover, 
.button:focus, 
.button:active {
	background-color: #937559;
}
.main-nav {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color: #000;
}
.main_menu {
	list-style: none;
}
.main-menu__link:hover,
.main-menu__link:hover {
	background-color: #242424;
}
.features__list {
	list-style: none;
}
.features__list-item {
	text-align: center;
}
.features__title {
	font-size: 30px;
	line-height: 42px;
}
.news_photo__wrapper {
	background: #f8f5f2 url(../img/main-background.jpg) 0 0 repeat;
	color: #000;
}
.news_photo__wrapper h2,
.contacts_appointment__wrapper h2 {
	font-size: 30px;
	line-height: 42px;
}
.news__list {
	list-style: none;
}
.news__list time {
	text-transform: none;
}
.button:hover, button {
	background-color: #937559;
}
.photo-gallary__content {
	background-color: #ccc;
	border: 7px solid #fff;
}
.contacts_appointment__wrapper {
	background: #f8f5f2 url(../img/main-background.jpg) 0 0 repeat;
	color: #000;
}
.appointment__input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #000101;
}
.appointment__input:focus {
	border-color: #663d16;
	outline: none;
}
.main-footer {
	background: #232323 url(../img/footer-background.jpg) 0 0 repeat;
}
/************************************************* catalog **********/
.catalog_body, .item_main {
	background: #f8f5f2 url(../img/main-background.jpg) top center repeat;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	color: #000;
}
.care__title {
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs {
	line-height: 20px;
}
.breadcrumbs__item {
	position: relative;
	display: inline;
}
.breadcrumbs__item:not(:last-child)::after {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../img/breadcrumps.svg) right center no-repeat;
}
.breadcrumbs-link {
	color: #000;
}
.catalog_filters__fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

}
.catalog-filters__fieldset legend {
	font-size: 24px;
	line-height: 30px;
}
.catalog-filters__list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.catalog-filters__item {
	margin-bottom: 17px;
	
}
.catalog-filters__label_checkbox {
	line-height: 20px;
	position: relative;
	padding-left: 44px;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
}

.catalog-filters__label_checkbox::after {
	position: absolute;
	display: block;
	content: '';
	width: 18px;
	height: 18px;
	left: 0;
	top: 0;
	border: 2px solid #000;
}
.catalog-filters__input_checkbox:checked + .catalog-filters__label_checkbox::before {
	position: absolute;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	left: 1px;
	top: 1px;
	background: url(../img/cross.svg) center center no-repeat;
}
.catalog-filters__label_radio {
	position: relative;
	padding-left: 44px;
	display: block;
	cursor: pointer;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 17px;
}
.catalog-filters__label_radio::before {
	position: absolute;
	display: block;
	content: '';
	width: 18px;
	height: 18px;
	left: 2px;
	top: -1px;
	border: 2px solid #000;
	border-radius: 50%;
}
.catalog-filters__input_radio:checked + .catalog-filters__label_radio::after {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	left: 9px;
	top: 6px;
	background-color: #000;
	border-radius: 50%;
}
.counter__list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.counter__link {
	color: #000;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;


}
.counter__link span {
	text-transform: uppercase;
}
.counter__coast {
	padding: 14px 42px;
	background-color: #e5e5e5;
}
.catalog-pagination__list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.catalog-pagination__link {
	padding: 12px 19px;
}
.active {
	background-color: #fff;
	color: #000;
}
.main-footer {
	color: #fff;
}
/********************************************************item********************/
.title_h2 {
	font-size: 30px;
	line-height: 42px;
}
.product-subgallary__list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.about-product {
	font-size: 14px;
	line-height: 24px;
}
